<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>13th AppJam</title>

    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/event.css">

    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=0"/>

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="css/favicon.png" type="image/x-icon">
    <link rel="icon" href="css/favicon.png" type="image/x-icon">

    <meta property="og:type" content="website">
    <meta property="og:title" content="13th AppJam">
    <meta property="og:description" content="제 13회 앱잼 페이지입니다">
    <meta property="og:image" content="css/banner.png">
    <meta property="og:url" content="http://www.appjam.kr">

</head>
<body>
    <div class="star-box"></div>
    <div class="content-box">
        <div class="event">
            <div class="logo"></div>
            <div class="box">
                <div class="pbox">
                    <div class="card"></div>

                    <p>1. 자신의 명함을 가지고 있는 사람을 <strong>찾는다</strong></p>

                    <p>2. 자기 소개 후 , 초등학교 동창인 마냥<br>친해진 뒤 자신의 <strong>명함을 가져온다</strong></p>
                    <h5>* 이때 뒷면에 동창친구의 정보를 적는다</h5>

                    <p>3. <strong>3장을 다 모았다면 , </strong>선착순으로 스테프<br>송원준에게 뛰어가서 <strong>경품을 수령</strong>한다.</p>
                </div>
                <div class="card-box">
                    <div class="card"></div>
                    <div class="btn">트럼프카드 규칙</div>
                </div>
            </div>
        </div>
        <div class="rule">
            <div class="logo"></div>
            <p><strong>- 음주와 흡연은 자제</strong>해 주세요</p>
            <p>(흡연은 시설 안전상 흡연구역에서 해주세요)</p>
            <p><strong>- 분리수거를 꼭 </strong>해주세요 -> ㅇㄱㄹㅇ...</p>
            <p>- 가져간 음식은 <strong>다 먹으세요</strong> (남기면 혼나여)</p>
            <p><strong>- 새벽 탈출은 자제</strong>해주세요</p>
            <p>- <strong>외출이 필요</strong>한 경우 <strong>스태프 송원준</strong>을 찾아주세요</p>

            <h1>위반시!</h1>
            <p class="wrong">1. AppJam 참가 제한 , 귀가</p>
            <p class="wrong">2. 학교에 공문</p>
        </div>
    </div>

    <script src="js/event.js"></script>
</body>
</html>