<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>13th AppJam</title>

    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/index.css">

    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=0"/>

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="shortcut icon" href="css/favicon.png" type="image/x-icon">
    <link rel="icon" href="css/favicon.png" type="image/x-icon">

    <meta property="og:type" content="website">
    <meta property="og:title" content="13th AppJam">
    <meta property="og:description" content="제 13회 앱잼 페이지입니다">
    <meta property="og:image" content="css/banner.png">
    <meta property="og:url" content="http://www.appjam.kr">

</head>
<body>
    <div class="star-box"></div>
    <div class="content-box">
        <div class="header-box">
            <div class="if-appjam-box">
                <p>if(appjam.kr || 앱잼.kr){</p>
            </div>
        </div>

        <div class="logo-box">
            <div class="appjam-logo"></div>
        </div>
        <div class="timer">
            <div class="hour">
                <div class="num hour-start start"></div>
                <div class="num hour-last last"></div>
            </div>
            <div class="hour-icon">
                h
            </div>

            <div class="min">
                <div class="num min-start start"></div>
                <div class="num min-last last"></div>
            </div>
            <div class="min-icon">
                m
            </div>

            <div class="sec">
                <div class="num sec-start start"></div>
                <div class="num sec-last last"></div>
            </div>
            <div class="sec-icon">
                s
            </div>
        </div>
        <div class="btn-list">
            <div class="btn">생활</div>
            <div class="btn">게임</div>
            <div class="btn">IOT</div>
            <div class="btn">AI</div>
        </div>

        <div class="btn-list">
            <div class="btn">팀등록</div>
            <div class="btn">주제확인</div>
            <div class="btn">이벤트 및 규칙</div>
            <div class="btn">페이스북</div>
        </div>
        <div class="alert">
            <p>제출 양식 : 팀이름_작품이름_팀장명.zip  APK , 소스코드 , 시연영상 필수제출</p>
        </div>
        <div class="if-appjam-box-close">
            <p>}</p>
        </div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>