<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>13th AppJam</title>

    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/rule.css">

    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=0"/>

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="css/favicon.png" type="image/x-icon">
    <link rel="icon" href="css/favicon.png" type="image/x-icon">

    <meta property="og:type" content="website">
    <meta property="og:title" content="13th AppJam">
    <meta property="og:description" content="제 13회 앱잼 페이지입니다">
    <meta property="og:image" content="css/banner.png">
    <meta property="og:url" content="http://www.appjam.kr">
</head>
<body>
    <div class="star-box"></div>
    <div class="content-box">
        <div class="header-box">
            <div class="if-appjam-box">
                <p>if(appjam.kr || 앱잼.kr){</p>
            </div>
        </div>

        <div class="logo-box">
            <div class="appjam-logo"></div>
        </div>

        <div class="youtube">
          <iframe src="https://www.youtube.com/embed/Hy4XCvF9TKI" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="btn">메인페이지</div>

        <div class="if-appjam-box-close">
            <p>}</p>
        </div>
    </div>
</body>
</html>